

.search-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px; 
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 1rem; 
    flex: 1;
    max-width: 300px; 
  }
  
  .search-button {
    padding: 10px 15px;
    border: none; 
    background-color:#10B981; 
    color: white; 
    border-radius: 4px; 
    margin-left: 10px; 
    cursor: pointer; 
    font-size: 1rem; 
  }
  
  .searchbutton:hover {
    background-color: darkgreen; 
  }
  

  @media (max-width: 768px) {
    .search {
      flex-direction: column;
      align-items: stretch; 
    }
  
    .searchinput {
      margin-bottom: 10px; 
    }
  
    .searchbutton {
      width: 100%; 
    }
  }
  
  @media (max-width: 480px) {
    .searchinput {
      font-size: 0.9rem;
    }
  
    .searchbutton {
      font-size: 0.9rem;
      padding: 8px; 
    }
  }
  